@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Olivier';
  src: url("fonts/olivier_demo.woff") format("woff"), url("fonts/olivier_demo.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* line 2, ../sass/_index.scss */
html .homepage, body .homepage {
  background: #29315f;
}
/* line 5, ../sass/_index.scss */
.homepage header {
  position: absolute;
  background: transparent;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0374dc), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(#0374dc, transparent);
  background-image: -moz-linear-gradient(#0374dc, transparent);
  background-image: -o-linear-gradient(#0374dc, transparent);
  background-image: linear-gradient(#0374dc, transparent);
}
/* line 10, ../sass/_index.scss */
.homepage footer {
  background: url("img/seafloor.png") no-repeat center bottom;
  min-height: 600px;
}

/* line 15, ../sass/_index.scss */
.tour {
  padding: 10% 0;
  padding-right: 110px;
  position: relative;
  opacity: 0;
  margin-bottom: 50px;
  height: auto;
  min-height: 500px;
}
@media screen and (max-width: 767px) {
  /* line 15, ../sass/_index.scss */
  .tour {
    padding-right: 0;
  }
}

/* line 27, ../sass/_index.scss */
.content {
  width: 97.5%;
  margin-right: 110px;
}

/* line 31, ../sass/_index.scss */
.homeblock {
  min-height: 600px;
  width: 100%;
  height: 100%;
}
/* line 35, ../sass/_index.scss */
.homeblock .starthere {
  position: absolute;
  bottom: 0;
  right: 2.5%;
  background-color: #ffcb05;
  width: 110px;
  height: 80px;
  text-align: center;
}
@media screen and (max-width: 1060px) {
  /* line 35, ../sass/_index.scss */
  .homeblock .starthere {
    right: 1%;
  }
}
@media screen and (max-width: 767px) {
  /* line 35, ../sass/_index.scss */
  .homeblock .starthere {
    display: none;
    visibility: hidden;
  }
}
/* line 50, ../sass/_index.scss */
.homeblock .starthere .glyphicon {
  padding-top: 20px;
  font-size: 30px;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: wiggle;
  -webkit-animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: wiggle;
  animation-timing-function: linear;
}

/* line 68, ../sass/_index.scss */
.movenav, .fixednav {
  position: absolute;
  top: 100%;
  width: 110px;
  text-align: center;
  right: 2.5%;
  z-index: 999;
}
@media screen and (max-width: 1060px) {
  /* line 68, ../sass/_index.scss */
  .movenav, .fixednav {
    right: 1%;
  }
}
@media screen and (max-width: 767px) {
  /* line 68, ../sass/_index.scss */
  .movenav, .fixednav {
    display: none;
    visibility: hidden;
  }
}
/* line 82, ../sass/_index.scss */
.movenav .nav, .fixednav .nav {
  margin-right: 0;
  background-color: rgba(41, 49, 95, 0.5);
}
/* line 85, ../sass/_index.scss */
.movenav .nav ul, .fixednav .nav ul {
  margin: none;
  padding: none;
}
/* line 89, ../sass/_index.scss */
.movenav .nav ul li, .fixednav .nav ul li {
  margin: none;
  padding: none;
}
/* line 95, ../sass/_index.scss */
.movenav .active, .fixednav .active {
  background-color: #ffcb05;
}

/* line 99, ../sass/_index.scss */
.fixednav {
  position: fixed;
  top: 60px;
}

/* line 104, ../sass/_index.scss */
#clouds {
  background-image: url(img/clouds2.png);
  background-repeat: repeat-x;
}

/* line 108, ../sass/_index.scss */
#napaliCoast {
  max-width: 100%;
  background: transparent url("img/na-pali-coast-2001.png") no-repeat center bottom;
}

/* line 114, ../sass/_index.scss */
#welcome h1 {
  margin: 325px 0;
}

/* line 118, ../sass/_index.scss */
.ocean {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #01c6ff), color-stop(100%, #29315f));
  background-image: -webkit-linear-gradient(#01c6ff, #29315f);
  background-image: -moz-linear-gradient(#01c6ff, #29315f);
  background-image: -o-linear-gradient(#01c6ff, #29315f);
  background-image: linear-gradient(#01c6ff, #29315f);
}
/* line 120, ../sass/_index.scss */
.ocean h2 {
  width: 100%;
  text-align: center;
  margin-bottom: .5em;
  font-family: 'Olivier';
  font-size: 50px;
}

/* line 128, ../sass/_index.scss */
.pausebg {
  margin: 3em 0 0 0;
}

/* line 131, ../sass/_index.scss */
.btn-pause {
  background: transparent;
}
/* line 133, ../sass/_index.scss */
.btn-pause :hover {
  background: #29315f;
  opacity: 0.5;
}
/* line 137, ../sass/_index.scss */
.btn-pause :active {
  opacity: 1;
}

/* line 141, ../sass/_index.scss */
.btn {
  margin: 0.75em;
}

/* line 144, ../sass/_index.scss */
.buttons {
  float: left;
}

/* line 147, ../sass/_index.scss */
.button {
  width: 47%;
  padding-right: 5%;
  display: block;
  float: left;
}

/* line 153, ../sass/_index.scss */
.btn-primary {
  background-color: #ffcb05;
  border: #fffcd5;
}
/* line 156, ../sass/_index.scss */
.btn-primary:hover {
  background-color: #e5b604;
}
/* line 159, ../sass/_index.scss */
.btn-primary:active {
  background-color: #cca204;
}

/* line 163, ../sass/_index.scss */
.btn-success {
  background-color: #146fa7;
  border: #29315f;
}
/* line 166, ../sass/_index.scss */
.btn-success:hover {
  background-color: #126396;
}
/* line 169, ../sass/_index.scss */
.btn-success:active {
  background-color: #105885;
}

/* line 173, ../sass/_index.scss */
.force-show {
  display: block !important;
}

/* line 179, ../sass/_index.scss */
.bubble {
  position: absolute;
  border-radius: 50%;
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 30, color-stop(33.33333%, #ffffff), color-stop(100%, #00ffff));
  background-image: -webkit-radial-gradient(45px 45px, #ffffff 10px, #00ffff 30px);
  background-image: -moz-radial-gradient(45px 45px, #ffffff 10px, #00ffff 30px);
  background-image: -o-radial-gradient(45px 45px, #ffffff 10px, #00ffff 30px);
  background-image: radial-gradient(45px 45px, #ffffff 10px, #00ffff 30px);
  opacity: 0.35;
  z-index: 0;
}

/* line 186, ../sass/_index.scss */
.bubble-sm {
  width: 20px;
  height: 20px;
}

/* line 190, ../sass/_index.scss */
.bubble-md {
  width: 30px;
  height: 30px;
}

/* line 194, ../sass/_index.scss */
.bubble-lg {
  width: 40px;
  height: 40px;
}

/* line 198, ../sass/_index.scss */
.force-show {
  display: block !important;
}

@-webkit-keyframes wiggle {
  /* line 202, ../sass/_index.scss */
  0% {
    padding-top: 20px;
  }

  /* line 206, ../sass/_index.scss */
  50% {
    padding-top: 28px;
  }

  /* line 210, ../sass/_index.scss */
  100% {
    padding-top: 20px;
  }
}

@keyframes wiggle {
  /* line 215, ../sass/_index.scss */
  0% {
    padding-top: 20px;
  }

  /* line 219, ../sass/_index.scss */
  50% {
    padding-top: 28px;
  }

  /* line 223, ../sass/_index.scss */
  100% {
    padding-top: 20px;
  }
}

/* line 1, ../sass/_about.scss */
.regpage {
  background: #29315f;
}
/* line 3, ../sass/_about.scss */
html .regpage, body .regpage {
  background: transparent;
}
/* line 8, ../sass/_about.scss */
.regpage footer {
  background: #146fa7;
}
/* line 11, ../sass/_about.scss */
.regpage h1 {
  color: #fff;
  position: relative;
  font-family: 'Olivier';
  font-size: 50px;
  padding: 5em;
  display: block;
  float: right;
}
/* line 21, ../sass/_about.scss */
.regpage p {
  color: #29315f;
}

/* line 26, ../sass/_about.scss */
.about .marquee {
  background: url("img/pan-1.jpg") no-repeat;
}

/* line 30, ../sass/_about.scss */
.marquee {
  max-height: 350px;
  width: 100%;
  overflow: hidden;
}

/* line 35, ../sass/_about.scss */
.whitebg {
  background: #fff;
  width: 100%;
}

/* line 39, ../sass/_about.scss */
footer {
  background: #29315f;
}

/* line 42, ../sass/_about.scss */
.aboutcontent {
  padding-bottom: 50px;
}

/* line 2, ../sass/_booking.scss */
.booking .marquee {
  background: url("img/pan-2.jpg") no-repeat;
}

/* line 15, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 23, ../sass/screen.scss */
header {
  width: 100%;
  margin: 0;
}

/* line 27, ../sass/screen.scss */
footer {
  width: 100%;
  position: absolute;
  background: #29315F;
  width: 100%;
  min-height: 400px;
  color: #fff;
}
/* line 35, ../sass/screen.scss */
footer dl {
  list-style: none;
  width: 50%;
  display: block;
  float: left;
}

/* line 43, ../sass/screen.scss */
ul a {
  color: #fff;
}

/* line 47, ../sass/screen.scss */
p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 1.5em;
}

/* line 54, ../sass/screen.scss */
h1 {
  color: #29315f;
}

/* line 57, ../sass/screen.scss */
h2 {
  color: #29315f;
}

/* line 60, ../sass/screen.scss */
h3 {
  color: #29315f;
}

/* line 63, ../sass/screen.scss */
img, object {
  max-width: 100%;
}

/* line 66, ../sass/screen.scss */
.left {
  float: left;
  display: block;
}

/* line 70, ../sass/screen.scss */
.right {
  float: right;
  display: block;
}

/* line 74, ../sass/screen.scss */
.navbar {
  z-index: 5;
  width: 100%;
  float: right;
}
/* line 78, ../sass/screen.scss */
.navbar .navbar-toggle {
  border: 1px solid #fff;
  margin: 3em 2em 0 0;
}
@media screen and (max-width: 767px) {
  /* line 78, ../sass/screen.scss */
  .navbar .navbar-toggle {
    float: right;
  }
}
/* line 84, ../sass/screen.scss */
.navbar .navbar-toggle .icon-bar {
  color: #fff;
  border: inherit;
}
/* line 89, ../sass/screen.scss */
.navbar .navbar-collapse {
  border: 0;
  width: 40%;
  float: right;
  margin: 2.5em 5em 0 0;
}
@media screen and (max-width: 991px) {
  /* line 89, ../sass/screen.scss */
  .navbar .navbar-collapse {
    margin-right: 0;
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  /* line 89, ../sass/screen.scss */
  .navbar .navbar-collapse {
    width: 100%;
    margin: 0;
  }
}
/* line 103, ../sass/screen.scss */
.navbar .navbar-collapse .nav-pills li {
  float: left;
}
/* line 108, ../sass/screen.scss */
.navbar .in {
  width: 100%;
}
@media screen and (max-width: 872px) {
  /* line 74, ../sass/screen.scss */
  .navbar {
    margin: 2.5em 1em 2.5em 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 74, ../sass/screen.scss */
  .navbar {
    margin: 0;
    border: 0;
  }
  /* line 121, ../sass/screen.scss */
  .navbar li {
    float: left;
  }
}

/* line 126, ../sass/screen.scss */
.nav {
  float: right;
}
@media screen and (max-width: 767px) {
  /* line 126, ../sass/screen.scss */
  .nav {
    width: 90%;
    margin: 0.25em auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 132, ../sass/screen.scss */
  .nav li {
    width: 90%;
    text-align: center;
    float: left;
  }
}

/* line 140, ../sass/screen.scss */
.nav-pills > li {
  color: #fff;
}
@media screen and (max-width: 767px) {
  /* line 140, ../sass/screen.scss */
  .nav-pills > li {
    font-size: 18px;
    padding-bottom: 0.25em;
  }
}

/* line 147, ../sass/screen.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #146fa7 !important;
}

/* line 150, ../sass/screen.scss */
.nav > li > a:hover {
  background-color: #ffcb05 !important;
  color: #29315f !important;
}

/* line 154, ../sass/screen.scss */
.navbar-toggle {
  margin: 3em 2em 0 0;
  float: right;
}
@media screen and (max-width: 767px) {
  /* line 154, ../sass/screen.scss */
  .navbar-toggle {
    float: right;
    position: relative;
  }
}

/* line 162, ../sass/screen.scss */
.headline {
  margin: 12em 0 16em 0;
  padding: 5em 12em;
  width: 65%;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  /* line 162, ../sass/screen.scss */
  .headline {
    padding: 5em;
    width: 75%;
  }
}
@media screen and (max-width: 401px) {
  /* line 162, ../sass/screen.scss */
  .headline {
    padding: 5em 1em;
    width: 100%;
  }
}

/* line 176, ../sass/screen.scss */
#logo {
  width: 400px;
  max-width: 400px;
}
@media screen and (max-width: 767px) {
  /* line 176, ../sass/screen.scss */
  #logo {
    max-width: 75%;
    padding: 0;
  }
}

/* line 184, ../sass/screen.scss */
.identity {
  font-size: 16px;
}

/* line 187, ../sass/screen.scss */
.well {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

/* line 191, ../sass/screen.scss */
header.regpage {
  background: #29315f;
  margin-bottom: 20px;
  height: 5em;
}
/* line 195, ../sass/screen.scss */
header.regpage:before {
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 10em;
  width: 100%;
  background: #29315f;
  border-bottom: 8px solid #ffcb05;
  -webkit-transform: skew(0deg, -2deg);
  -moz-transform: skew(0deg, -2deg);
  -ms-transform: skew(0deg, -2deg);
  -o-transform: skew(0deg, -2deg);
  transform: skew(0deg, -2deg);
}

/* line 213, ../sass/screen.scss */
.row {
  padding-top: 60px;
}

/* line 217, ../sass/screen.scss */
.regpage footer {
  border-top: 8px solid #ffcb05;
}
/* line 220, ../sass/screen.scss */
.regpage header {
  z-index: 3;
}
/* line 223, ../sass/screen.scss */
.regpage h2 {
  padding-bottom: 15px;
}
/* line 226, ../sass/screen.scss */
.regpage .content {
  margin-top: 350px;
}
/* line 229, ../sass/screen.scss */
.regpage .marquee {
  position: absolute;
  z-index: 1;
}

/* line 234, ../sass/screen.scss */
.vspacer {
  padding-bottom: 100px;
}
