@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Olivier';
  src: url("fonts/olivier_demo.woff") format("woff"), url("fonts/olivier_demo.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* line 2, ../sass/_index.scss */
html .homepage, body .homepage {
  background: #29315f;
}
/* line 5, ../sass/_index.scss */
.homepage header {
  position: absolute;
  background: transparent;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0374dc), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(#0374dc, transparent);
  background-image: -moz-linear-gradient(#0374dc, transparent);
  background-image: -o-linear-gradient(#0374dc, transparent);
  background-image: linear-gradient(#0374dc, transparent);
}
/* line 10, ../sass/_index.scss */
.homepage footer {
  background: url("img/seafloor.png") no-repeat center top;
  min-height: 600px;
}

/* line 15, ../sass/_index.scss */
.tour {
  padding: 10% 0;
  position: relative;
  opacity: 0;
  margin-bottom: 50px;
  height: auto;
  min-height: 500px;
}

/* line 24, ../sass/_index.scss */
.homeblock .starthere {
  position: absolute;
  bottom: 0;
  right: 2.5%;
  background-color: #ffcb05;
  width: 110px;
  height: 80px;
  text-align: center;
}
/* line 32, ../sass/_index.scss */
.homeblock .starthere .glyphicon {
  padding-top: 20px;
  font-size: 30px;
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: wiggle;
  -webkit-animation-timing-function: linear;
  animation-direction: normal;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-name: wiggle;
  animation-timing-function: linear;
}

/* line 50, ../sass/_index.scss */
.movenav, .fixednav {
  position: absolute;
  top: 100%;
  width: 110px;
  text-align: center;
  right: 2.5%;
  z-index: 999;
}
/* line 57, ../sass/_index.scss */
.movenav .nav, .fixednav .nav {
  margin-right: 0;
  background-color: rgba(41, 49, 95, 0.5);
}
/* line 60, ../sass/_index.scss */
.movenav .nav ul, .fixednav .nav ul {
  margin: none;
  padding: none;
}
/* line 64, ../sass/_index.scss */
.movenav .nav ul li, .fixednav .nav ul li {
  margin: none;
  padding: none;
}
/* line 70, ../sass/_index.scss */
.movenav .active, .fixednav .active {
  background-color: #ffcb05;
}

/* line 74, ../sass/_index.scss */
.fixednav {
  position: fixed;
  top: 60px;
}

/* line 79, ../sass/_index.scss */
#clouds {
  background-image: url(img/clouds2.png);
  background-repeat: repeat-x;
}

/* line 83, ../sass/_index.scss */
#napaliCoast {
  max-width: 100%;
  background: transparent url("img/na-pali-coast-2001.png") no-repeat center bottom;
}

/* line 89, ../sass/_index.scss */
#welcome h1 {
  margin: 325px 0;
}

/* line 93, ../sass/_index.scss */
.ocean {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #01c6ff), color-stop(100%, #29315f));
  background-image: -webkit-linear-gradient(#01c6ff, #29315f);
  background-image: -moz-linear-gradient(#01c6ff, #29315f);
  background-image: -o-linear-gradient(#01c6ff, #29315f);
  background-image: linear-gradient(#01c6ff, #29315f);
}
/* line 95, ../sass/_index.scss */
.ocean h2 {
  width: 100%;
  text-align: center;
  margin-bottom: .5em;
  font-family: 'Olivier';
  font-size: 50px;
}

/* line 106, ../sass/_index.scss */
.pausebg {
  margin: 3em 0 0 0;
}

/* line 109, ../sass/_index.scss */
.btn-pause {
  background: transparent;
}
/* line 111, ../sass/_index.scss */
.btn-pause :hover {
  background: #29315f;
  opacity: 0.5;
}
/* line 115, ../sass/_index.scss */
.btn-pause :active {
  opacity: 1;
}

/* line 119, ../sass/_index.scss */
.btn {
  margin: 0.75em;
}

/* line 122, ../sass/_index.scss */
.btn-primary {
  background-color: #ffcb05;
  border: #fffcd5;
}
/* line 125, ../sass/_index.scss */
.btn-primary:hover {
  background-color: #e5b604;
}
/* line 128, ../sass/_index.scss */
.btn-primary:active {
  background-color: #cca204;
}

/* line 132, ../sass/_index.scss */
.btn-success {
  background-color: #146fa7;
  border: #29315f;
}
/* line 135, ../sass/_index.scss */
.btn-success:hover {
  background-color: #126396;
}
/* line 138, ../sass/_index.scss */
.btn-success:active {
  background-color: #105885;
}

/* line 142, ../sass/_index.scss */
.force-show {
  display: block !important;
}

/* line 148, ../sass/_index.scss */
.bubble {
  position: absolute;
  border-radius: 50%;
  background-image: -webkit-gradient(radial, 45px 45px, 0, 45px 45px, 30, color-stop(33.33333%, #ffffff), color-stop(100%, #00ffff));
  background-image: -webkit-radial-gradient(45px 45px, #ffffff 10px, #00ffff 30px);
  background-image: -moz-radial-gradient(45px 45px, #ffffff 10px, #00ffff 30px);
  background-image: -o-radial-gradient(45px 45px, #ffffff 10px, #00ffff 30px);
  background-image: radial-gradient(45px 45px, #ffffff 10px, #00ffff 30px);
  opacity: 0.35;
  z-index: 0;
}

/* line 155, ../sass/_index.scss */
.bubble-sm {
  width: 20px;
  height: 20px;
}

/* line 159, ../sass/_index.scss */
.bubble-md {
  width: 30px;
  height: 30px;
}

/* line 163, ../sass/_index.scss */
.bubble-lg {
  width: 40px;
  height: 40px;
}

/* line 167, ../sass/_index.scss */
.force-show {
  display: block !important;
}

@-webkit-keyframes wiggle {
  /* line 171, ../sass/_index.scss */
  0% {
    padding-top: 20px;
  }

  /* line 175, ../sass/_index.scss */
  50% {
    padding-top: 28px;
  }

  /* line 179, ../sass/_index.scss */
  100% {
    padding-top: 20px;
  }
}

@keyframes wiggle {
  /* line 184, ../sass/_index.scss */
  0% {
    padding-top: 20px;
  }

  /* line 188, ../sass/_index.scss */
  50% {
    padding-top: 28px;
  }

  /* line 192, ../sass/_index.scss */
  100% {
    padding-top: 20px;
  }
}

/* line 1, ../sass/_about.scss */
.about {
  background: #29315f;
}
/* line 3, ../sass/_about.scss */
html .about, body .about {
  background: #146fa7;
}
/* line 8, ../sass/_about.scss */
.about h1 {
  color: #fff;
  position: relative;
  font-family: 'Olivier';
  font-size: 50px;
  padding: 5em;
  display: block;
  float: right;
}
/* line 18, ../sass/_about.scss */
.about p {
  color: #29315f;
}

/* line 22, ../sass/_about.scss */
.marquee {
  background: url("img/kauaicoast.jpg") no-repeat;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
}

/* line 28, ../sass/_about.scss */
.whitebg {
  background: #fff;
  width: 100%;
}

/* line 32, ../sass/_about.scss */
footer {
  background: #29315f;
}

/* line 35, ../sass/_about.scss */
.aboutcontent {
  padding-bottom: 50px;
}

/* line 10, ../sass/screen.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 18, ../sass/screen.scss */
header {
  width: 100%;
  margin: 0;
}

/* line 22, ../sass/screen.scss */
footer {
  width: 100%;
  position: absolute;
  background: #29315F;
  width: 100%;
  min-height: 300px;
  color: #fff;
}
/* line 29, ../sass/screen.scss */
footer dl {
  list-style: none;
  width: 50%;
  display: block;
  float: left;
}

/* line 36, ../sass/screen.scss */
a {
  color: #fff;
}

/* line 39, ../sass/screen.scss */
p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 1.5em;
}

/* line 46, ../sass/screen.scss */
h1 {
  color: #29315f;
}

/* line 49, ../sass/screen.scss */
h2 {
  color: #29315f;
}

/* line 52, ../sass/screen.scss */
h3 {
  color: #29315f;
}

/* line 55, ../sass/screen.scss */
img, object {
  max-width: 100%;
}

/* line 58, ../sass/screen.scss */
.left {
  float: left;
  display: block;
}

/* line 62, ../sass/screen.scss */
.right {
  float: right;
  display: block;
}

/* line 66, ../sass/screen.scss */
.navbar {
  margin: 2.5em 5em;
}

/* line 69, ../sass/screen.scss */
.nav {
  float: right;
  margin-right: 1em;
}

/* line 73, ../sass/screen.scss */
.nav-pills > li {
  color: #fff;
}

/* line 76, ../sass/screen.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #146fa7 !important;
}

/* line 79, ../sass/screen.scss */
.nav > li > a:hover {
  background-color: #ffcb05 !important;
  color: #29315f !important;
}

/* line 83, ../sass/screen.scss */
.headline {
  margin: 250px 5em 350px 10em;
  max-width: 600px;
}

/* line 87, ../sass/screen.scss */
#logo {
  max-width: 400px;
  margin: 0 2em;
  position: absolute;
}

/* line 92, ../sass/screen.scss */
.identity {
  font-size: 16px;
}

/* line 95, ../sass/screen.scss */
.well {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

/* line 99, ../sass/screen.scss */
header.regpage {
  background: #29315f;
  margin-bottom: 20px;
  height: 5em;
}
/* line 103, ../sass/screen.scss */
header.regpage:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 9em;
  width: 100%;
  background: #29315f;
  -webkit-transform: skew(0deg, -3deg);
  -moz-transform: skew(0deg, -3deg);
  -ms-transform: skew(0deg, -3deg);
  -o-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
}

/* line 118, ../sass/screen.scss */
footer.regpage {
  height: 300px;
}
/* line 121, ../sass/screen.scss */
footer.regpage:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 335px;
  overflow: hidden;
  width: 100%;
  background: #146fa7;
  -webkit-transform: skew(0deg, -3deg);
  -moz-transform: skew(0deg, -3deg);
  -ms-transform: skew(0deg, -3deg);
  -o-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
}

/* line 140, ../sass/screen.scss */
.row {
  padding-top: 60px;
}
