/* You are viewing the cascading style sheet for Pure Aloha! developed by Dave Scott Schneider. To hire Dave call him at (734)755-8132. It is the right decision. Just do it. Like right now. I'm sure he'll answer...

This style sheet only contains overrides of bookstrap styles as well as any additional styles not included by bootstrap.

Key:

*/

.navbar{
	margin-top:2.5em;
}
.nav{
	float:right;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #146fa7 !important;
}
.nav > li > a:hover{ 
	background-color:#ffcb05 !important;
	color:#29315F !important;
}
header{
	background-color: #29315F;
}
img, object{
	max-width:100%;
}
