/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@font-face {
  font-family: 'Olivier';
  src: url('fonts/olivier_demo.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/olivier_demo.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
$yellow:#ffcb05;
$darkblue:#29315F;
$lightblue:#146fa7;
$eggshell:#fffcd5;
$brown:#824E40;
$gray:#E6E7E8;

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background:$darkblue;
}

header{
	background:transparent;
	position:absolute;
	width:100%;
	margin:0;
	@include background-image(linear-gradient(#0374dc, transparent));
}
footer{

	width:100%;
	position:absolute;
	background: url('img/seafloor.png') no-repeat center top;
	min-height:600px;
}
a{
	color:#fff;
}
p{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:1px;
	font-size:16px;
	line-height:1.5em;
}
h1{
	color:$darkblue;
}
h2{
	color:$darkblue;
}
h3{
	color:$darkblue;
}
img, object{
	max-width:100%;
}
.left{
	float:left;
	display:block;
}
.right{
	float:right;
	display:block;
}
.navbar{
	margin:2.5em 5em;
}
.nav{
	float:right;
	margin-right:1em;
}
.nav-pills > li{
	color:#fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: $lightblue !important;
}
.nav > li > a:hover{ 
	background-color:$yellow !important;
	color:$darkblue !important;
}
.headline{
	margin:250px 5em 350px 10em;
	max-width:600px;
}
.tour{
	padding:10% 0;
	position: relative;
	opacity:0;
	margin-bottom:50px;
	height:auto;
	min-height:500px;
}
#logo{
	max-width:400px;
	margin:0 2em;
}
.scrollFade{

}
#clouds{
	background-image: url(img/clouds2.png);
	background-repeat: repeat-x;
}
#napaliCoast{
	max-width:100%;
	background: transparent url('img/na-pali-coast-2001.png') no-repeat center bottom;

}
#welcome{
	h1{
		margin:325px 0;
	}
}
.ocean{
	@include background-image(linear-gradient(#01C6FF, $darkblue));
	h2{
		width:100%;
		text-align:center;
		margin-bottom: .5em;
		font-family: 'Olivier';
		font-size:50px;
	}
	p{

	}
}
.pausebg{
	margin:3em -4.5em 0 0;
}
.btn-pause{
	background:transparent;
	:hover{
		background:$darkblue;
		opacity:0.5;
	}
	:active{
		opacity:1;
	}
}
