/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "colors";
@import "index";
@import "about";

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position:relative;
}

header{
	width:100%;
	margin:0;
}
footer{
	width:100%;
	position:absolute;
  	background:#29315F;
	width:100%;
	min-height:300px;
	color:#fff;
	dl{
		list-style:none;
	    width:50%;
	    display:block;
	    float:left;
	}
}
a{
	color:#fff;
}
p{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:1px;
	font-size:16px;
	line-height:1.5em;
}
h1{
	color:$darkblue;
}
h2{
	color:$darkblue;
}
h3{
	color:$darkblue;
}
img, object{
	max-width:100%;
}
.left{
	float:left;
	display:block;
}
.right{
	float:right;
	display:block;
}
.navbar{
	margin:2.5em 5em;
}
.nav{
	float:right;
	margin-right:1em;
}
.nav-pills > li{
	color:#fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: $lightblue !important;
}
.nav > li > a:hover{ 
	background-color:$yellow !important;
	color:$darkblue !important;
}
.headline{
	margin:250px 5em 350px 10em;
	max-width:600px;
}
#logo{
	max-width:400px;
	margin:0 2em;
	position:absolute;
}
.identity{
  font-size:16px;
}
.well{
  background-color:rgba(255,255,255,0.1);
  border:none;
}
header.regpage{
	background:$darkblue;
		margin-bottom:20px;
		height:5em;
			&:before{
				content: '';
				position:absolute;
				top: 0;
				right: 0;
				height:9em;
				width:100%;
				background:$darkblue;
				-webkit-transform: skew(0deg, -3deg);
				-moz-transform: skew(0deg, -3deg);
				-ms-transform: skew(0deg, -3deg);
				-o-transform: skew(0deg, -3deg);
				transform: skew(0deg, -3deg);
			}
}
footer.regpage{
	height:300px;

	&:before{
		content: '';
		position:absolute;
		bottom: 0;
		right: 0;
		height:335px;
		overflow: hidden;
		width:100%;
		background:$lightblue;
		-webkit-transform: skew(0deg, -3deg);
		-moz-transform: skew(0deg, -3deg);
		-ms-transform: skew(0deg, -3deg);
		-o-transform: skew(0deg, -3deg);
		transform: skew(0deg, -3deg);
	}
	&:after{
	}

}
.row{
	padding-top:60px;
}