/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$break-sml: 401px;
$break-med: 767px;
$break-lrg: 991px;

@import "compass";
@import "colors";
@import "index";
@import "about";
@import "booking";

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position:relative;
}

header{
	width:100%;
	margin:0;
}
footer{
	width:100%;
	position:absolute;
  	background:#29315F;
	width:100%;
	min-height:400px;
	color:#fff;

	dl{
		list-style:none;
	    width:50%;
	    display:block;
	    float:left;
	}
}
ul{
	a{
	color:#fff;
	}
}
p{
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:1px;
	font-size:16px;
	line-height:1.5em;
}
h1{
	color:$darkblue;
}
h2{
	color:$darkblue;
}
h3{
	color:$darkblue;
}
img, object{
	max-width:100%;
}
.left{
	float:left;
	display:block;
}
.right{
	float:right;
	display:block;
}
.navbar{
	z-index:5;
	width:100%;
	float:right;
	.navbar-toggle{
		border:1px solid #fff;
		margin:3em 2em 0 0;
		@media screen and (max-width: $break-med) {
			float:right;
		}
		.icon-bar{
			color:#fff;
			border:inherit;
		}
	}
	.navbar-collapse{
		border:0;
		width:40%;
		float:right;
		margin:2.5em 5em 0 0;
		@media screen and (max-width: $break-lrg) {
			margin-right:0;
			width:45%;
		}
		@media screen and (max-width: $break-med) {
			width:100%;
			margin:0;
		}
		.nav-pills{
			li{
				float:left;
			}
		}
	}
	.in{
		width:100%;
	}
	.navbar-nav{

	}
	@media screen and (max-width: 872px){
		margin:2.5em 1em 2.5em 0;
	}
	@media screen and (max-width: $break-med) {

		margin:0;
		border:0;
		li{
			float:left;
		}
	}
}
.nav{
	float:right;
	@media screen and (max-width: $break-med) {
		width:90%;
		margin:0.25em auto;
	}
	li{
			@media screen and (max-width: $break-med) {
			width:90%;
			text-align:center;
			float:left;
		}
	}
}
.nav-pills > li{
	@media screen and (max-width:$break-med) {
		font-size:18px;
		padding-bottom:0.25em;
	}
	color:#fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: $lightblue !important;
}
.nav > li > a:hover{ 
	background-color:$yellow !important;
	color:$darkblue !important;
}
.navbar-toggle{
	margin:3em 2em 0 0;
	float:right;
		@media screen and (max-width: $break-med) {
			float:right;
			position:relative;
		}
}
.headline{
	margin:12em 0 16em 0;
	padding:5em 12em;
	width:65%;
	max-width:100%;
	@media screen and (max-width: $break-lrg) {
		padding:5em;
		width:75%;
	}
	@media screen and (max-width: $break-sml) {
		padding:5em 1em;
		width:100%;
	}
}
#logo{
	width:400px;
	max-width:400px;
	@media screen and (max-width: 767px){
		max-width:75%;
		padding:0;
	}
}
.identity{
  font-size:16px;
}
.well{
  background-color:rgba(255,255,255,0.1);
  border:none;
}
header.regpage{
	background:$darkblue;
	margin-bottom:20px;
	height:5em;
		&:before{
			z-index:2;
			content: '';
			position:absolute;
			top: 0;
			right: 0;
			height:10em;
			width:100%;
			background:$darkblue;
			border-bottom: 8px solid $yellow;
			-webkit-transform: skew(0deg, -2deg);
			-moz-transform: skew(0deg, -2deg);
			-ms-transform: skew(0deg, -2deg);
			-o-transform: skew(0deg, -2deg);
			transform: skew(0deg, -2deg);
		}
}

.row{
	padding-top:60px;
}
.regpage{
	footer{
		border-top: 8px solid $yellow;
	}
	header{
		z-index:3;
	}
	.content{
		margin-top:350px;
	}
	.marquee{
		position:absolute;
		z-index:1;
	}
}